.bg-nav {
	background-color: blueviolet;
}

.bg-section1 {
	background-color: rgb(174, 125, 219);
}

.bg-section3 {
	background-color: blueviolet;
}

.form-color {
	background-color: white;
	border-color: blueviolet;
}

.section-bg-custom {
	background-color: rgb(230, 224, 235);
}

.btn-section2 {
	background-color: blueviolet;
}

.section-bg-custom {
	background-color: rgb(174, 125, 219);
}

.accordion-button-custom {
	background-color: blueviolet;
	color: white;
}

.swing {
	transform-origin: top center;
	animation: swing 2s ease infinite;
}
@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}

.bounce-in {
	animation: bounce-in 2s ease infinite;
  }
  @keyframes bounce-in {
	0% {
	  opacity: 0;
	  transform: scale(.3);
	}
	50% {
	  opacity: 1;
	  transform: scale(1.05);
	}
	70% { transform: scale(.9); }
	100% { transform: scale(1); }
}